{
  "openapi": "3.0.0",
  "info": {
    "title": "MPS Monitors API Engine",
    "description": "Unified API gateway for MPS Monitors integration. Optimized for ChatGPT Actions.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://mpsm.resolutionsbydesign.us"
    }
  },
  "servers": [
    {
      "url": "https://mpsm.resolutionsbydesign.us/mps-api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "API Health & Information",
        "description": "Returns API status and available endpoints",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfo"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check API and MPS Monitors connectivity",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "summary": "List Available Endpoints",
        "description": "Returns all available API endpoints and their descriptions",
        "operationId": "getEndpoints",
        "responses": {
          "200": {
            "description": "Available endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/query": {
      "post": {
        "summary": "Unified Query Endpoint",
        "description": "Primary endpoint for all MPS Monitors operations. Optimized for ChatGPT Actions.",
        "operationId": "query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              },
              "examples": {
                "getMonitors": {
                  "summary": "Get all monitors",
                  "value": {
                    "action": "getMonitors",
                    "params": {}
                  }
                },
                "getMonitor": {
                  "summary": "Get specific monitor",
                  "value": {
                    "action": "getMonitor",
                    "params": {
                      "id": "monitor_123"
                    }
                  }
                },
                "createMonitor": {
                  "summary": "Create new monitor",
                  "value": {
                    "action": "createMonitor",
                    "params": {
                      "name": "Website Monitor",
                      "url": "https://example.com",
                      "interval": 60
                    }
                  }
                },
                "getAlerts": {
                  "summary": "Get alerts",
                  "value": {
                    "action": "getAlerts",
                    "params": {
                      "status": "active"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitors": {
      "get": {
        "summary": "List Monitors",
        "description": "Get all monitors with optional filters",
        "operationId": "getMonitors",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "paused", "down"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Monitor",
        "description": "Create a new monitor",
        "operationId": "createMonitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitors/{id}": {
      "get": {
        "summary": "Get Monitor",
        "description": "Get specific monitor by ID",
        "operationId": "getMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Monitor",
        "description": "Update existing monitor",
        "operationId": "updateMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Monitor",
        "description": "Delete monitor by ID",
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "summary": "List Alerts",
        "description": "Get all alerts with optional filters",
        "operationId": "getAlerts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitors/{id}/statistics": {
      "get": {
        "summary": "Get Monitor Statistics",
        "description": "Get performance statistics for a monitor",
        "operationId": "getStatistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["1h", "24h", "7d", "30d"],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "endpoints": {
            "type": "object"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "unhealthy"]
          },
          "api_connection": {
            "type": "boolean"
          },
          "response_time": {
            "type": "string"
          }
        }
      },
      "EndpointsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "endpoints": {
            "type": "object"
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "required": ["action"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "getMonitors",
              "getMonitor",
              "createMonitor",
              "updateMonitor",
              "deleteMonitor",
              "getAlerts",
              "getStatistics",
              "healthCheck"
            ]
          },
          "params": {
            "type": "object"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "http_code": {
            "type": "integer"
          }
        }
      },
      "MonitorsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          }
        }
      },
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Monitor"
          }
        }
      },
      "Monitor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "interval": {
            "type": "integer"
          }
        }
      },
      "MonitorCreate": {
        "type": "object",
        "required": ["name", "url"],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "interval": {
            "type": "integer",
            "default": 60
          }
        }
      },
      "MonitorUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "interval": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AlertsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
