// /public/mpsm/assets/scss/_mixins.scss

/// Neumorphic/panel shadows ///
@mixin neumorphic($distance: 4px, $blur: 12px, $intensity: 0.2) {
  box-shadow:
    // Light source at top-left
    -#{$distance} -#{$distance} #{$blur} rgba(255, 255, 255, $intensity),
    // Dark shadow at bottom-right
     #{$distance}  #{$distance} #{$blur} rgba(0, 0, 0, $intensity * 2);
}

/// Neon text glowy effect ///
@mixin neon-text($color) {
  color: $color;
  text-shadow:
    0 0 2px $color,
    0 0 6px lighten($color, 10%),
    0 0 10px lighten($color, 20%);
}
